.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-weight: 900;
  color: var(--base-text);
  font-family: var(--font-title);
}
.header .logo span {
  color: var(--green-600);
  font-family: var(--font-title);
}
.header .navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
.header .navbar .menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-normal);
  gap: 2px;
  color: var(--base-text);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.header .navbar .menu li a span {
  display: block;
}
.header .navbar .menu li a:hover {
  color: var(--dark-weight);
}
.header .navbar-container-button {
  display: flex;
  gap: 6px;
}
.header .navbar-container-button .button-toggleTheme svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header .navbar-container-button .button-toggleTheme {
  background: none;
  color: var(--base-text);
}
.header .navbar-container-button .button-toggleTheme:hover{
  background: none;
}
.header .navbar-container-button button{
  background: var(--green-600);
  color: var(--white);
  border-radius: 8px;
  padding: 0.75rem;
  border: none;
  font-family: var(--font-normal);
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
} 
.header .navbar-container-button button:hover{
  background: var(--green-500);
  cursor: pointer;
}
@media (max-width: 600px) {
  .header .logo {
    font-size: 1.5rem;
  }
  .header .navbar{
    width: 10px;
  }
  .header .navbar .menu li a span {
    display: none;
    font-size: 1;
  }
  .header .navbar .menu li a svg {
    width: 1rem;
    height: 1rem;
  }
  .header .navbar-container-button button span {
    display: none;
  }
  .header .navbar-container-button button svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}